.container {
  .video,
  .fallback {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    opacity: 1;
    transition: opacity 0.25s ease-in;
  }

  &.hasStartedPlaying {
    .fallback {
      opacity: 0;
    }
  }
}
