.container {
  position: relative;
  aspect-ratio: var(--videoAspectRatio);
  .video,
  .fallback {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    opacity: 1;
    transition: opacity 0.25s ease-in;
  }

  .fallback {
    pointer-events: none;
  }

  &.hasStartedPlaying {
    .fallback {
      opacity: 0;
    }
  }
}

.controls {
  position: absolute;
  top: 50%;
  color: white;
  width: 100%;
  pointer-events: none;
  transform: translateY(-50%);

  img {
    height: 42px;
    width: 42px;
  }

  .mute {
    position: absolute;
    bottom: 20px;
    right: 12px;
    pointer-events: all;
    cursor: pointer;
  }
}
