.project {
  position: relative;
  rotate: var(--rotate);

  a:nth-child(even) & {
    rotate: calc(var(--rotate) * -1);
  }

  img {
    position: relative !important;
    width: 100% !important;
    height: auto !important;
  }
}
