@font-face {
  font-family: "ABC Oracle";
  font-style: normal;
  font-weight: 400;
  src: url("/ABCOracle/ABCOracle-Regular.woff2");
}

@define-mixin body {
  font-size: 14px;
  line-height: 16px;
  font-family: "ABC Oracle", sans-serif;
  font-weight: 400;
  font-smooth: always;
  -webkit-font-smoothing: antialiased;

  @media (min-width: 720px) {
    font-size: 18px;
    line-height: 21px;
  }
}

.layout {
  @mixin body;
  display: grid;
  grid-template-rows: 20% min-content min-content min-content;
  grid-template-columns: 1fr min(75%, 586px) 1fr;
  width: 100vw;
  height: 100vh;
  width: 100dvw;
  height: 100dvh;
  overflow-y: auto;
  background-color: black;
  position: fixed;
  top: 0;
  left: 0;
  transition: background-color 0s;
  transition-delay: 0.5s;

  &:global(.isAbout) {
    background-color: white;
    transition-delay: 0s;
  }
}

.titleContainer {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  pointer-events: none;
  height: 20%;
  width: 100%;
  text-align: center;
  display: grid;
  justify-content: center;
  grid-template-rows: 2fr max-content 1fr;

  @media (orientation: landscape) {
    height: 15%;
  }
}

.title {
  @mixin body;
  grid-row: 2 / 3;
  pointer-events: all;
  cursor: pointer;
  margin: 0;
  color: white;
  transition: color 0.5s;

  :global(.isAbout) & {
    color: black;
  }
}

.info {
  grid-row: 2 / 3;
  grid-column: 2 / 3;
  opacity: 0;
  transition: opacity 0.5s;

  .hasCompletedIntro & {
    opacity: 1;
  }

  a {
    margin-bottom: 0.5em;
  }
}

:global(.isAbout) .carousel {
  pointer-events: none;
}
