@font-face {
  font-family: "ABC Oracle";
  font-style: normal;
  font-weight: 400;
  src: url("/ABCOracle/ABCOracle-Regular.woff2");
}

@font-face {
  font-family: "ABC Oracle";
  font-style: italic;
  font-weight: 400;
  src: url("/ABCOracle/ABCOracle-Italic.woff2");
}

@define-mixin body {
  font-size: 14px;
  line-height: 16px;
  font-family: "ABC Oracle", sans-serif;
  font-weight: 400;
  color: black;
  font-smooth: always;
  -webkit-font-smoothing: antialiased;

  @media (min-width: 720px) {
    font-size: 18px;
    line-height: 21px;
  }
}

.title {
  @mixin body;
  grid-row: 1 / 2;
  align-self: end;
  text-align: center;
  pointer-events: all;
  cursor: pointer;
  z-index: 999;
  position: relative;
  grid-column: 2 / 3;
  margin: 0 0 30px;
  color: white;

  .isAbout & {
    color: black;
  }
}
