.projects {
  position: absolute;
  inset: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  column-gap: 5vw;
  width: 100%;
  padding-top: 20vh;

  @media (min-width: 720px) {
    column-gap: 2.5vw;
  }
}

.project {
  width: 40vw;
  height: auto;

  @media (min-width: 720px) {
    width: 20vw;
  }

  img {
    width: 100%;
  }
}
